:root {
  --color1: #d6ae60;
  --focusColor: rgb(49, 164, 231);
  --accentColor: rgb(201, 201, 201);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #bdbdbd;
}